* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdede4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fraunces', serif;
}

p,
ul,
li,
a,
button {
    font-family: 'Epilogue', sans-serif;
}

button {
    border: none;
    border-radius: 2rem;
    background-color: #186b80;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
}
