.carousel {
    position: relative;
}

.carousel__leftBtn {
    position: absolute;
    top: 50%;
    transform: scaleX(-1) translateY(-50%);
    z-index: 5;
}

.carousel__rightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel__slides {
    width: 100%;
    height: auto;
}

.carousel__slides img {
    display: inline-block;
    width: 100%;
    height: auto;
}
