.carousel {
    position: relative;
}

.carousel__leftBtn,
.carousel__rightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel__leftBtn {
    left: 0.5rem;
}

.carousel__rightBtn {
    right: 0.5rem;
}

.carousel__slides {
    width: 100%;
    height: auto;
}

.carousel__slides img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.carousel__slide:not(.current) {
    display: none;
}

.carousel__dot {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background-color: #adc4cf;
}
