.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* div element containing product img */
/* .product-card > div {
} */

.product-card__img {
    width: 100%;
}

/* div element containing product info */
.product-card > div + div {
    display: flex;
    flex-direction: column;
}
